/*----------------------------------------------------
_variable.scss
----------------------------------------------------*/
// default fontstyle
$font: 'yu-gothic-pr6n', sans-serif;
$fontWeight: 400;
$fontStyle: normal;

// Font color
$fontColor1: #ffffff;
$fontColor2: #999999;

// Background color
$bgColor1: #000000;